<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "build/app.css"}}"> 
    {{ghost_head}}
</head>

<body>
    {{> "navbar"}}
    <div class="container">
        {{{body}}}
        {{> "footer"}}
    </div>
    <script src="{{asset "build/app.js"}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i" rel="stylesheet"> {{ghost_foot}}
</body>

</html>