<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "build/app.css"}}"> 
    <link href="https://fonts.loli.net/css?family=Hammersmith+One" rel="stylesheet">
    {{ghost_head}}
</head>

<body>
    {{> "navbar"}}
    <div class="container container-width">
        {{{body}}}
    </div>
    {{> "footer"}}
    <script src="{{asset "build/app.js"}}"></script>
    {{ghost_foot}}
</body>

</html>