{{!< default}}
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/zoom.css">
    {{#post}}
    <article class="{{post_class}}">
        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
                    {{date format="MMMM DD, YYYY"}}
                </time>
                {{tags separator=""}}
            </section>
        </header>

        <hr class="post-hr">

        <section class="post-content">
            {{content}}
        </section>

    </article>
    {{/post}}
    {{!-- <div id="comment"></div>
    <script src="https://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/valine/dist/Valine.min.js'></script>
    <script>
        new Valine({
            el: '#comment',
            verify: false,
            appId: 'APP_ID',
            appKey: 'APP_KEY',
            placeholder: '想说点什么？',
            avatar: 'mm'
        });
    </script> --}}