{{!< default}} 
<link rel="stylesheet" href="/assets/css/post.css">

<link rel="stylesheet" href="/assets/css/atom-one-light.css">
<script src="/assets/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{#post}}
<article class="{{post_class}}">
<header class="post-header">
    <h1 class="post-title">{{title}}</h1>
    <section class="post-meta">
    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="DD MMMM YYYY"}}
    </time> 
    {{tags prefix=" on "}}
    </section>  
</header>
<hr>

<section class="post-content">
    {{content}}
</section>

</article>
{{/post}}   